.footer {    
    width: 100%;
    height: 150px;
    background-color: whitesmoke;    
    text-align: center;
    font-size: 3.5rem;
    line-height: 150px;
}
@media (max-width: 580px) {
    .footer {
        font-size: 2.5rem;
    }
}
@media (max-width: 430px) {
    .footer {
        font-size: 2rem;
    }
}
@media (max-width: 320px) {
    .footer {
        font-size: 1.5rem;
    }
}
