<div class="container">
    <div class="areaInput">
        <app-area-input [inPokemon]="pokemon" (outArea)="setArea($event)"></app-area-input>
    </div>       
    <div class="description">
        <div class="description__name">Описание</div>
        <textarea class="description__input" cols="30" rows="10" [(ngModel)]="pokemon.description"></textarea>
    </div>
    <div class="parameters">
        <app-parameters [inParam]="pokemon" (outParam)="setParameters($event)"></app-parameters>
    </div>
    <div class="categorys">
        <app-input-list [inList]="pokemon.category" (outList)="setCategory($event)">Категории</app-input-list>
    </div>
    <div class="abilities">
        <app-input-list [inList]="pokemon.abilities" (outList)="setAbilities($event)">Способности</app-input-list>
    </div>
    <div class="weaknesses">
        <app-weaknesses-pokemon (outweaknesses)="setWeakesses($event)"></app-weaknesses-pokemon>
    </div>
</div>