.pokemon {    
    min-width: 150px;
    height: 260px;  
    padding-top: 110px;    
    padding-left: 15px;    
    float: left;
    cursor: pointer;    
    transition: 0.2s ease-in-out;
    &__area {
        position: absolute;
        height: 170px; 
        width: 180px;  
        transform: perspective(60em) rotateX(-110deg); 
        box-shadow: 0px 15px 65px 0px rgba(255, 255, 255, 0.7);
        background-color: #2E2E2E;  
        border: 1px solid black;    
        border-radius: 25px;  
        &_rare {box-shadow: 0px 15px 65px 0px lightskyblue;}
        &_veryRare {box-shadow: 0px 15px 65px 0px dodgerblue;}
        &_epic {box-shadow: 0px 15px 65px 0px mediumpurple;}
        &_legendary {box-shadow: 0px 15px 65px 0px orangered;}
    }
    &__div-img {
        height: 200px;
        width: 200px;
        position: relative;
        top: -100px;
        left: -12px;       
    }
    &__img {
        width: 100%;
        height: 100%;        
    }
    &__info {
        position: relative;
        top: -100px;
        left: -8px;
        background-color: white;
        color: black;
        min-width: 182px;
        height: 35px;
        border-radius: 50px;
        border: 1px solid black;
    }    
    &__types {
        float: left;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        background-color: white;
        margin: 4px 1px 4px 5px;   
        display: none;
        &_Electric {background-color: yellow; display: block;}  
        &_Fire {background-color: red; display: block;}  
        &_Water {background-color: blue; display: block;}
        &_None {background-color: white; display: block;}
        &_Psychic {background-color: hotpink; display: block;}
        &_Ground {background-color: lightseagreen; display: block;}
        &_Normal {background-color: navajowhite;display: block;}
        &_Flying {background-color: royalblue;display: block;}
        &_Bug {background-color: sienna;display: block;}
        &_Fighting {background-color: orangered;display: block;}
        &_Grass {background-color: lightgreen;display: block;}
        &_Fairy {background-color: violet;display: block;}
        &_Ice {background-color: lightblue;display: block;}
        &_Poison {background-color: mediumvioletred;display: block;}
        &_Rock {background-color: grey;display: block;}
        &_Steel {background-color: lightslategrey;display: block;}
        &_Dragon {background-color: gold;display: block;}
        &_Ghost {background-color: purple;display: block;}      
    }
    &__name {
        float: right;
        padding-right: 15px;
        line-height: 33px;     
        font-size: 1.4rem;  
        text-align: center;
    }
    &:hover {
        transform: scale(1.1);
        transition: 0.2s ease-in-out;
    }
}