<div class="rarity">
    <div class="rarity__item rarity__item_usual" (click)="setRarity('usual')">Обычный</div>
    <div class="rarity__item rarity__item_rare" (click)="setRarity('rare')">Необычный</div>
    <div class="rarity__item rarity__item_veryRare" (click)="setRarity('veryRare')">Редкий</div>
    <div class="rarity__item rarity__item_epic" (click)="setRarity('epic')">Эпический</div>
    <div class="rarity__item rarity__item_legendary" (click)="setRarity('legendary')">Легендарный</div>
</div>