.item {
    float: left;
    width: 60px;
    height: 30px;
    &__name {
        float: left;
        font-size: 1.4rem;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    &__input {
        display: block;
        float: left;
        width: 30px;
        height: 30px;                
    }     
}
