<div class="container">
    <div class="areaInput">
        <app-area-input [inPokemon]="pokemon" (outArea)="setArea($event)"></app-area-input>
    </div>
    <div class="description">
        <div class="description__name">Описание</div>
        <textarea class="description__input" cols="30" rows="10" [(ngModel)]="pokemon.description"></textarea>
    </div>
    <div class="parameters">
        <app-parameters [inParam]="pokemon" (outParam)="setParameters($event)"></app-parameters>
    </div>
    <div class="categorys">
        <app-input-list [inList]="pokemon.category" (outList)="setCategory($event)">Категории</app-input-list>
    </div>
    <div class="abilities">
        <app-input-list [inList]="pokemon.abilities" (outList)="setAbilities($event)">Способности</app-input-list>
    </div>
    <div class="weaknesses">
        <app-weaknesses-pokemon (outweaknesses)="setWeakesses($event)" [value]="pokemon.weaknesses"></app-weaknesses-pokemon>
    </div>
    <div class="characteristics">
        <div class="characteristics__name">Характеристики</div>
        <div class="characteristics__item">
            <app-inputbox (out)="setHp($event)" [value]="pokemon.hp">Здоровье</app-inputbox>
        </div>
        <div class="characteristics__item">
            <app-inputbox (out)="setAttack($event)" [value]="pokemon.attack">Атака</app-inputbox>
        </div>
        <div class="characteristics__item">
            <app-inputbox (out)="setDefense($event)" [value]="pokemon.defense">Защита</app-inputbox>
        </div>
        <div class="characteristics__item">
            <app-inputbox (out)="setSpecialAttack($event)" [value]="pokemon.specialAttack">Срец.Атака</app-inputbox>
        </div>
        <div class="characteristics__item">
            <app-inputbox (out)="setSpecialDefense($event)" [value]="pokemon.specialDefense">Спец.Защита</app-inputbox>
        </div>
        <div class="characteristics__item">
            <app-inputbox (out)="setSpeed($event)" [value]="pokemon.speed">Скорость</app-inputbox>
        </div>
    </div>
    <div class="btn-container">
        <button class="btn-save" (click)="Edit()">Изменить</button>
        <button class="btn-back" (click)="goBack()">Назад</button>
    </div>
</div>